@mixin button($background-color: #3883fa, $color: #fff) {
  display: inline-block;
  transition: background-color 200ms ease-in;
  padding: .5rem 1rem;
  background-color: $background-color;
  color: $color;
  border: none;
  &:hover {
    background-color: darken($background-color, 20%);
  }
}
