
# ==========
# IDE #
# ==========
.idea/

# ==========
# NODE/NPM #
# ==========
node_modules/
npm-debug.log
yarn.lock

# ==========
# REPORTS #
# ==========
reports
report.xml

# ==========
# ENV #
# ==========
*.env

# ==========
# ESLINT #
# ==========
.eslintcache

# ==========
# CSS #
# ==========
public/*/*.map
