
# ==========
# IDE #
# ==========
.idea/

# ==========
# NODE/NPM #
# ==========
node_modules/
npm-debug.log
yarn.lock

# ==========
# REPORTS #
# ==========
reports
report.xml

# ==========
# ENV #
# ==========
*.env
src/utils/config.util.js

# ==========
# ESLINT #
# ==========
.eslintcache

# ==========
# CSS #
# ==========
public/*/*.map
public/css/index.css
public/js/index.js
