.page {
  background-color: white;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 80%;
  box-shadow: 2px 2px 5px rgba(55, 58, 60, 0.1); }

.wrapper {
  position: relative; }

.logo {
  min-width: 190px; }

.find-link {
  position: absolute;
  top: 1rem;
  right: 130px; }

.logout {
  position: absolute;
  top: 1rem;
  right: 0; }

.menu-container {
  margin-left: 24px;
  display: flex;
  width: 100%; }

.menu-container .left-menu,
.menu-container .right-menu {
  flex: 1;
  display: flex;
  align-items: center; }

.menu-container .left-menu {
  justify-content: flex-start; }

.menu-container .right-menu {
  justify-content: flex-end; }

.menu-container .menu-item {
  flex-shrink: 0;
  margin-left: 16px; }

.menu-container .search-form {
  background: white;
  position: relative;
  width: 300px; }

.menu-container .search-input {
  outline: none;
  padding-left: 36px; }

.menu-container .search-button {
  position: absolute;
  top: 6px;
  border: none;
  background: inherit; }

.menu-container .search-button svg {
  height: 20px;
  width: 20px; }

.menu-container .search-button:focus {
  outline: none; }

.clientform .submit input {
  display: inline-block;
  transition: background-color 200ms ease-in;
  padding: .5rem 1rem;
  background-color: #3883fa;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1rem; }
  .clientform .submit input:hover {
    background-color: #0550c7; }

.clientform label {
  font-family: HelveticaNeue-Medium;
  font-size: 22px;
  font-weight: 500;
  height: 26px;
  letter-spacing: 0; }

.clientform .jeditor-hide {
  display: none; }

.clientform .updateclient, .clientform .removeclient {
  margin-left: 30px;
  display: inline-flex; }

.emptylist {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold; }

.adgangsForm-line {
  border-top: solid 1px #979797; }

.adgangsForm-title-top {
  display: inline-flex;
  height: 34px;
  width: 100%; }

.adgangsForm-title {
  margin-top: auto;
  margin-bottom: 0; }

.adgangsForm-toggle {
  font-size: 16px;
  font-family: HelveticaNeue-Bold;
  margin-left: auto;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: 0;
  text-decoration: underline;
  cursor: pointer; }

.adgangsForm-choosePlatform-container {
  display: grid; }

.adgangsForm-formSection {
  margin-left: 31px; }

.adgangsForm-formBg {
  width: 100%;
  background: whitesmoke;
  border: 1px solid #979797; }

.adgangsForm-checkbox-section {
  display: grid; }

.adgangsForm-formBg input {
  width: 80%; }

.adgangsForm-formBg textarea {
  width: 80%;
  height: 200px; }

.clientlist {
  display: flex;
  flex-direction: column;
  align-items: center; }

.clients {
  margin-bottom: 1rem;
  width: 100%; }
  .clients .elements-group {
    width: 100%; }
    .clients .elements-group .group-name div {
      display: inline-flex;
      align-items: center;
      cursor: pointer; }
      .clients .elements-group .group-name div h2 {
        font-size: 14px; }
      .clients .elements-group .group-name div span {
        margin: 0 0.5rem 0 0; }
    .clients .elements-group .group-clients-wrap {
      width: 100%;
      margin: 0 0 2rem 0;
      overflow: hidden; }
      .clients .elements-group .group-clients-wrap.collapsed {
        height: 0;
        margin: 0; }

.labels {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 2rem 0; }
  .labels * {
    min-width: 20%;
    font-weight: bold; }
  .labels span {
    cursor: pointer; }

.client {
  transition: all 200ms ease-in;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc; }
  .client > * {
    min-width: 20%; }
  .client a {
    padding: 1rem 0;
    color: #373a3c;
    transition: all 200ms ease-in; }
  .client a.createtoken {
    display: inline-block;
    transition: background-color 200ms ease-in;
    padding: .5rem 1rem;
    background-color: lightseagreen;
    color: #fff;
    border: none; }
    .client a.createtoken:hover {
      background-color: #105c57; }
  .client:nth-of-type(2n + 1) {
    background-color: #eceeef; }
  .client:hover {
    background-color: #4c4c4c; }
    .client:hover a {
      color: white; }
  .client .label a {
    font-size: 12px;
    border: 1px solid #979797;
    padding: 0.3rem 0.7rem;
    border-radius: 25px;
    margin: 0 0 0 1rem; }
  .client .label a:hover {
    background-color: #979797; }

.createclient {
  display: inline-block;
  transition: background-color 200ms ease-in;
  padding: .5rem 1rem;
  background-color: #3883fa;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
  margin-bottom: 2rem; }
  .createclient:hover {
    background-color: #0550c7; }

.deleteclient {
  display: inline-block;
  transition: background-color 200ms ease-in;
  padding: .5rem 1rem;
  background-color: #ee422e;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1rem; }
  .deleteclient:hover {
    background-color: #a81e0e; }

.editclient {
  display: inline-block;
  transition: background-color 200ms ease-in;
  padding: .5rem 1rem;
  background-color: lightseagreen;
  color: #fff;
  border: none;
  font-weight: bold; }
  .editclient:hover {
    background-color: #105c57; }

.contact-row {
  display: flex; }
  .contact-row + .contact-row label {
    display: none; }
  .contact-row .element {
    flex-grow: 1; }
  .contact-row .element + .element {
    margin-left: 1rem; }
  .contact-row .element.remove {
    flex-grow: 0;
    width: 70px; }

.contact {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem; }
  .contact .icon.add {
    margin-right: 5px; }
    .contact .icon.add:before {
      content: "+";
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      color: white;
      background-color: green;
      border-radius: 50%; }
  .contact .icon.remove:before {
    content: "-";
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    color: white;
    background-color: red;
    border-radius: 50%; }

input {
  font-size: 1rem;
  line-height: 1.25; }

input[type=text],
input[type=password],
input[type=email] {
  margin: 0;
  display: block;
  width: 80%;
  padding: .5rem 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15); }

input[type=checkbox] {
  width: 20px; }

label {
  display: inline-block; }

.element {
  margin-bottom: 1rem; }

.element label {
  font-weight: bold; }

.page.login {
  margin: 0 auto;
  min-height: 0;
  max-width: 400px;
  position: relative;
  top: 33%;
  transform: translateY(-50%); }
  .page.login .submit {
    text-align: right; }
    .page.login .submit input {
      display: inline-block;
      transition: background-color 200ms ease-in;
      padding: .5rem 1rem;
      background-color: #3883fa;
      color: #fff;
      border: none; }
      .page.login .submit input:hover {
        background-color: #0550c7; }

.tokenview {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%; }
  .tokenview .overlay.background {
    background: rgba(55, 58, 60, 0.8);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }
  .tokenview .content {
    z-index: 2;
    margin: auto;
    width: 500px;
    top: 20%;
    padding: 2rem 3rem;
    display: block;
    background-color: white;
    position: relative;
    box-shadow: 2px 2px 5px rgba(55, 58, 60, 0.1); }

.highlight .highlighted {
  background-color: #d8d8d8; }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px); }

/* Rounded sliders */
.slider.round {
  border-radius: 20px; }

.slider.round:before {
  border-radius: 50%; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

div,
form,
input,
p {
  box-sizing: border-box; }

html,
body,
.page-wrapper,
#content {
  width: 100%;
  height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background: #f1f1f1;
  padding: 0;
  margin: 0; }

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em; }

a {
  text-decoration: none; }

.input-label {
  font-size: 16px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  letter-spacing: 0; }

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

.header {
  background-color: #373a3c;
  color: white; }
  .header .wrapper {
    display: -ms-flexbox;
    display: flex;
    line-height: 56px; }
  .header .logo {
    min-width: -webkit-fit-content;
    min-width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em; }
  .header a {
    transition: color 200ms ease-in;
    color: white;
    font-weight: bold; }
    .header a:hover {
      color: #b3b3b3; }

.btn + .btn {
  margin-left: 1rem; }

/*# sourceMappingURL=index.css.map*/