.clientlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients {
  margin-bottom: 1rem;
  width: 100%;

  .elements-group {
    width: 100%;

    .group-name {
      div {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        h2 {
          font-size: 14px;
        }

        span {
          margin: 0 0.5rem 0 0;
        }
      }
    }

    .group-clients-wrap {
      width: 100%;
      margin: 0 0 2rem 0;
      overflow: hidden;

      &.collapsed {
        height: 0;
        margin: 0;
      }
    }
  }
}

.labels {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 2rem 0.5rem;

  * {
    min-width: 20%;
    padding: 0 0.5rem;
    font-weight: bold;
  }

  span {
    cursor: pointer;
  }
}

.client {
  transition: all 200ms ease-in;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;

  & > * {
    min-width: 20%;
  }

  a {
    padding: 1rem 0.5rem;
    color: #373a3c;
    transition: all 200ms ease-in;
  }

  a.createtoken {
    @include button(lightseagreen);
  }

  &:nth-of-type(2n + 1) {
    background-color: #eceeef;
  }

  &:hover {
    background-color: #4c4c4c;
    a {
      color: white;
    }
  }

  .label a {
    font-size: 12px;
    border: 1px solid #979797;
    padding: 0.3rem 0.7rem;
    border-radius: 25px;
    margin: 0 0 0 1rem;
  }

  .label a:hover {
    background-color: #979797;
  }
}

.createclient {
  @include button();
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
  margin-bottom: 2rem;
}

.deleteclient {
  @include button(#ee422e);
  font-weight: bold;
  font-size: 1rem;
}

.editclient {
  @include button(lightseagreen);
  font-weight: bold;
}
