.highlight .highlighted {
  background-color: #d8d8d8;
}

.find-clients {
  .labels {
    .label-name {
      span {
        padding-left: 1rem;
      }
    }
    .label-hits {
      flex-grow: 2;
      max-width: none;
    }
  }
  .elements {
    .hit {
      max-width: none;
      flex-grow: 2;
    }
  }
}
