input {
  font-size: 1rem;
  line-height: 1.25;
}

input[type=text],
input[type=password],
input[type=email] {
  margin: 0;
  display: block;
  width: 80%;
  padding: .5rem 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
}
input[type=checkbox] {
  width:20px;
}

label {
  display: inline-block;
}


.element {
  margin-bottom: 1rem;
  /* margin-top: 1rem; */
}

.element label {
  font-weight: bold;
}

.element h2 {
  margin: 0;
}
