.page {
  background-color: white;
  padding: 3rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 80%;
  box-shadow: 2px 2px 5px rgba($dark-color, 0.1);

  h1 {
    margin-bottom: 0px;
  }
  .description {
    margin-top: 4px;
  }
}

.wrapper {
  position: relative;
}


.logo {
  min-width: 190px;
}

.find-link {
  position: absolute;
  top: 1rem;
  right: 130px;
}

.logout {
  position: absolute;
  top: 1rem;
  right: 0;
}


.menu-container {
  margin-left: 24px;
  display: flex;
  width: 100%;
}

.menu-container .left-menu,
.menu-container .right-menu {
  flex: 1;
  display: flex;
  align-items: center;
}

.menu-container .left-menu {
  justify-content: flex-start;
}

.menu-container .right-menu {
  justify-content: flex-end;
}

.menu-container .menu-item {
  flex-shrink: 0;
  margin-left: 32px;
}

.menu-container .search-form {
  background: white;
  position: relative;
  width: 300px;
}

.menu-container .search-input {
  outline: none;
  padding-left: 36px;
  width: 100%;
}

.menu-container .search-button {
  position: absolute;
  top: 6px;
  border: none;
  background: inherit;
}

.menu-container .search-button svg {
  height: 20px;
  width: 20px;
}

.menu-container .search-button:focus {
  outline: none;
}
